<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

<connectionStrings>
 
  <add name="LeapCreditLMSEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=69.61.83.160;initial catalog=LeapCreditLMSQA;persist security info=True;user id=leap1credit;Password=#insight!2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 <add name="LeapCreditLMSDB" connectionString="Data Source=69.61.83.160;User ID=leap1credit;Password=#insight!2018;Initial Catalog=LeapCreditLMSQA;" providerName="System.Data.SqlClient" />
    <add name="LeapCreditLeadsDB" connectionString="Data Source=69.61.83.160;User ID=leap1credit;Password=#insight!2018;Initial Catalog=Leads;" providerName="System.Data.SqlClient" />
  <add name="elmah-sqlserver" connectionString="Data Source=69.61.83.160;User ID=leap1credit;Password=#insight!2018;Initial Catalog=LeapCreditLMSQA;" providerName="System.Data.SqlClient" />
  <add name="Connection1" providerName="System.Data.SqlClient" connectionString="Data Source=69.61.83.160; Initial Catalog=Leads; User ID=leap1credit; Password= #insight!2018" />
  
</connectionStrings>
  <appSettings>
    <add key="SensitiveKey" value="AnZk2yQgNr9x192S0T" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.2" newVersion="12.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
